@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopOnline</title>
    <link rel="stylesheet" href="~/css/layout.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("CSS", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Hoa & Quà</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ProductByCate">Loại sản phẩm</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrder">Đơn hàng của tôi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="ListCarts">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    @{
                                        string jsonCarts = HttpContextAccessor.HttpContext.Session.GetString("carts");
                                        int totalQuantity = 0;
                                        if (jsonCarts != null)
                                        {
                                            var listCarts = JsonConvert.DeserializeObject<List<Cart>>(jsonCarts);
                                            totalQuantity = listCarts.Sum(x => x.quantity);
                                        }
                                    }
                                    <span class="badge bg-danger">@totalQuantity</span>
                                </a>

                            </li>

                            @if (User.IsInRole("ADMIN"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown">Quản lý</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="ListCategories" asp-controller="Category">Danh mục</a></li>
                                        <li><a class="dropdown-item" asp-action="ListProducts" asp-controller="Product">Sản phẩm</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown">Báo cáo</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="ReportProduct" asp-controller="Report">Sản phẩm</a></li>
                                        <li><a class="dropdown-item" asp-action="ReportOrder" asp-controller="Report">Doanh thu</a></li>
                                    </ul>
                                </li>
                            }

                        }

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-warning fw-bolder" asp-area="" asp-controller="User" asp-action="SignIn">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary fw-bold" asp-area="" asp-controller="User" asp-action="SignUp">Đăng ký</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li style="font-size: 13.5px;" class="navbar-brand text-info">
                                <img src="@User.Claims.LastOrDefault().Value.ToString()" alt="Avatar Logo" style="width:38px; margin-right:3px;" class="rounded-pill">
                                @User.Claims.FirstOrDefault().Value.ToString()
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="User" asp-action="SignOut">Đăng xuất</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ShopOnline - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
